<a href="https://colab.research.google.com/github/charu1401/cv/blob/main/Movie-Recommendation-System.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np # linear algebra
import pandas as pd

In [ ]:
movies = pd.read_csv('/content/mdb_5000_movies.csv')
credits = pd.read_csv('/content/tmdb_5000_credits.csv',low_memory=False)

In [ ]:
movies.head(3)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",10-12-2009,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",19-05-2007,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",26-10-2015,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466

In [ ]:
movies.shape

(4803, 20)

In [ ]:
movies = movies.merge(credits,on='title')

In [ ]:
movies = movies[['movie_id','title','overview','genres','keywords','cast','crew']]

In [ ]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [ ]:
movies.shape

(4809, 7)

In [ ]:
import ast

In [ ]:
def convert(text):
    L = []
    for i in ast.literal_eval(text):
        L.append(i['name']) 
    return L

In [ ]:
movies.dropna(inplace=True)

In [ ]:
movies['genres'] = movies['genres'].apply(convert)
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [ ]:
movies['keywords'] = movies['keywords'].apply(convert)
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [ ]:
import ast
ast.literal_eval('[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]')

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 878, 'name': 'Science Fiction'}]

In [ ]:
def convert3(text):
    L = []
    counter = 0
    for i in ast.literal_eval(text):
        if counter < 3:
            L.append(i['name'])
        counter+=1
    return L

In [ ]:
movies['cast'] = movies['cast'].apply(convert)
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux, R...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman, A...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton,...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [ ]:
movies['cast'] = movies['cast'].apply(lambda x:x[0:3])

In [ ]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [ ]:
def collapse(L):
    L1 = []
    for i in L:
        L1.append(i.replace(" ",""))
    return L1

In [ ]:
movies['cast'] = movies['cast'].apply(collapse)
movies['genres'] = movies['genres'].apply(collapse)
movies['keywords'] = movies['keywords'].apply(collapse)

In [ ]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [ ]:
movies['overview'] = movies['overview'].apply(lambda x:x.split())

In [ ]:
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast']

In [ ]:
new = movies.drop(columns=['overview','genres','keywords','cast'])

In [ ]:
new['tags'] = new['tags'].apply(lambda x: " ".join(x))
new.head()

,movie_id,title,crew,tags
0,19995,Avatar,"[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...","Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,"[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...",A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,"[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...",Following the death of District Attorney Harve...
4,49529,John Carter,"[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...","John Carter is a war-weary, former military ca..."

In [ ]:
new = new[['movie_id','title','tags']]

In [ ]:
new.head()

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [ ]:
vector = cv.fit_transform(new['tags']).toarray()

In [ ]:
vector.shape

(4802, 5000)

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
similarity = cosine_similarity(vector)

In [ ]:
sorted (list(enumerate(similarity [0])), reverse=True, key=lambda x:x[1])

[(0, 1.0),
 (538, 0.2537477434955704),
 (1191, 0.25112360116696136),
 (506, 0.24609055357847553),
 (1213, 0.24260844762468367),
 (581, 0.2372894989381248),
 (259, 0.23621543814299706),
 (1201, 0.23394386020951635),
 (1917, 0.23394386020951635),
 (3727, 0.2324952774876386),
 (1441, 0.2279803762937766),
 (74, 0.22056438662814232),
 (321, 0.21919864974047634),
 (3605, 0.21775177815467112),
 (83, 0.21582051197002577),
 (61, 0.2152488010002526),
 (4189, 0.2152488010002526),
 (2330, 0.2135605490443123),
 (47, 0.21049133398705727),
 (494, 0.21029989116983447),
 (2406, 0.20795009796401454),
 (939, 0.20668850837512243),
 (969, 0.20668850837512243),
 (1326, 0.2056773510573183),
 (465, 0.20567735105731827),
 (151, 0.20549873413169661),
 (970, 0.20343336780168372),
 (2201, 0.20032733246124987),
 (1198, 0.19727878476642874),
 (2968, 0.191014361990104),
 (150, 0.19101436199010396),
 (2996, 0.18983159915049982),
 (4401, 0.18983159915049982),
 (1272, 0.1898315991504998),
 (2783, 0.1898315991504998),
 (3535, 0.1891891891891892),
 (3324, 0.18857857160117855),
 (304, 0.18790823039834775),
 (4045, 0.18790823039834775),
 (3159, 0.18788455692040834),
 (928, 0.18641092980036),
 (1318, 0.18380365552345193),
 (219, 0.18316875326179907),
 (27, 0.1823843010350213),
 (1534, 0.18195633571851272),
 (1068, 0.1797236580870839),
 (299, 0.17972365808708388),
 (36, 0.17972365808708385),
 (460, 0.17937400083354382),
 (300, 0.17812181099872781),
 (184, 0.17757120130114434),
 (4, 0.1754942736973651),
 (372, 0.1752499093081954),
 (580, 0.1752499093081954),
 (46, 0.1743714581157289),
 (7, 0.17155007848855516),
 (1828, 0.17155007848855516),
 (149, 0.16979054399120352),
 (208, 0.16979054399120352),
 (67, 0.16916516233038026),
 (1341, 0.16916516233038026),
 (2493, 0.1677890138035061),
 (2728, 0.1677890138035061),
 (26, 0.16673100431301852),
 (658, 0.16569860426698665),
 (108, 0.1643989873053573),
 (835, 0.1643989873053573),
 (4007, 0.1643989873053573),
 (1805, 0.16216216216216217),
 (94, 0.16120647005479025),
 (2512, 0.16120647005479025),
 (52, 0.1600142241187995),
 (1393, 0.15958626340564364),
 (1294, 0.15794943794779692),
 (1380, 0.15794943794779692),
 (4332, 0.15794943794779692),
 (1962, 0.15660307954993902),
 (31, 0.1553424415003),
 (91, 0.1553424415003),
 (576, 0.1553424415003),
 (168, 0.15404884978892902),
 (3351, 0.1526406277181659),
 (3625, 0.1526406277181659),
 (310, 0.1522038868295523),
 (2166, 0.15007505629691606),
 (158, 0.1487044791289829),
 (1352, 0.1487044791289829),
 (111, 0.14763464883937316),
 (501, 0.14704292441876157),
 (172, 0.14704292441876154),
 (489, 0.14704292441876154),
 (17, 0.1461508458653816),
 (1935, 0.1454358496691159),
 (1175, 0.1453095484297741),
 (41, 0.1438803413133505),
 (421, 0.14349920066683505),
 (504, 0.14349920066683505),
 (1485, 0.14349920066683505),
 (556, 0.14309095175803563),
 (567, 0.1430909517580356),
 (84, 0.14165281524036175),
 (331, 0.14097096860865022),
 (368, 0.14097096860865022),
 (2683, 0.14097096860865022),
 (56, 0.14019992744655632),
 (248, 0.14019992744655632),
 (1319, 0.13812277665483924),
 (486, 0.1371182340382122),
 (1324, 0.1371182340382122),
 (2581, 0.1371182340382122),
 (3996, 0.1371182340382122),
 (187, 0.13699915608779772),
 (412, 0.13699915608779772),
 (1012, 0.13699915608779772),
 (1217, 0.13699915608779772),
 (1942, 0.13699915608779772),
 (1670, 0.13678822577626598),
 (2477, 0.13678822577626598),
 (4344, 0.13678822577626598),
 (3406, 0.13513513513513514),
 (2617, 0.1342312110428049),
 (2967, 0.1342312110428049),
 (4486, 0.1342312110428049),
 (2130, 0.13423121104280486),
 (2870, 0.13423121104280486),
 (341, 0.13377695860286035),
 (1034, 0.13334518676566626),
 (1296, 0.13334518676566626),
 (3619, 0.13334518676566626),
 (127, 0.13288211940534983),
 (751, 0.1316245316231641),
 (68, 0.13151918984428584),
 (134, 0.13151918984428584),
 (367, 0.13151918984428584),
 (1093, 0.13151918984428584),
 (1155, 0.13151918984428584),
 (594, 0.12996881122750908),
 (737, 0.12996881122750908),
 (3672, 0.12996881122750908),
 (999, 0.12951986753290365),
 (482, 0.1289651760438322),
 (1044, 0.1289651760438322),
 (2375, 0.1289651760438322),
 (3373, 0.1289651760438322),
 (1614, 0.1283740414907742),
 (1712, 0.12734290799340264),
 (2320, 0.12734290799340264),
 (528, 0.12683657235796025),
 (775, 0.12683657235796025),
 (1655, 0.12655439943366653),
 (1744, 0.12655439943366653),
 (1738, 0.12629480039223434),
 (277, 0.12535305264097507),
 (419, 0.12535305264097507),
 (274, 0.12427395320024),
 (936, 0.12427395320024),
 (1830, 0.12427395320024),
 (95, 0.12392039927415242),
 (227, 0.12392039927415242),
 (2710, 0.12392039927415242),
 (3306, 0.12392039927415242),
 (1572, 0.12329924047901797),
 (3215, 0.12329924047901797),
 (431, 0.12253577034896798),
 (548, 0.12253577034896797),
 (2544, 0.12253577034896797),
 (28, 0.1221125021745327),
 (1271, 0.1221125021745327),
 (2072, 0.1221125021745327),
 (2865, 0.1221125021745327),
 (4669, 0.1221125021745327),
 (50, 0.12006004503753284),
 (72, 0.12006004503753284),
 (578, 0.12006004503753284),
 (123, 0.11990028442779209),
 (453, 0.11990028442779209),
 (1509, 0.11990028442779209),
 (237, 0.11961783342433499),
 (650, 0.11961783342433499),
 (805, 0.11961783342433499),
 (4200, 0.11961783342433499),
 (3144, 0.11874787399915188),
 (1274, 0.1186447494690624),
 (1476, 0.1186447494690624),
 (231, 0.11810771907149853),
 (856, 0.11810771907149853),
 (1979, 0.11810771907149853),
 (689, 0.1174278480752552),
 (3404, 0.11742784807525519),
 (622, 0.1162476387438193),
 (1370, 0.1162476387438193),
 (1571, 0.1162476387438193),
 (3718, 0.1162476387438193),
 (5, 0.11624763874381927),
 (10, 0.11624763874381927),
 (166, 0.11624763874381927),
 (169, 0.11624763874381927),
 (293, 0.11624763874381927),
 (684, 0.11624763874381927),
 (1613, 0.11624763874381927),
 (3005, 0.11624763874381927),
 (3627, 0.11624763874381927),
 (199, 0.11510231387903269),
 (206, 0.11510231387903269),
 (1028, 0.1144727614064285),
 (2580, 0.1144727614064285),
 (81, 0.11389895949029986),
 (625, 0.11314714296070713),
 (2256, 0.11314714296070713),
 (3997, 0.11314714296070713),
 (4015, 0.11314714296070713),
 (14, 0.11277677488692017),
 (87, 0.11277677488692017),
 (126, 0.11277677488692017),
 (507, 0.11277677488692017),
 (2069, 0.11277677488692017),
 (2447, 0.11277677488692017),
 (4076, 0.11277677488692017),
 (774, 0.11185934253567072),
 (851, 0.11115400287534567),
 (897, 0.11115400287534567),
 (1192, 0.11115400287534567),
 (2010, 0.11115400287534567),
 (3495, 0.11115400287534567),
 (1016, 0.11083777463036817),
 (2103, 0.11083777463036817),
 (141, 0.11028219331407116),
 (1298, 0.11028219331407116),
 (1521, 0.11028219331407116),
 (1718, 0.11028219331407116),
 (2631, 0.11028219331407116),
 (4132, 0.11028219331407116),
 (4327, 0.11028219331407116),
 (18, 0.1098436937909367),
 (2436, 0.1098436937909367),
 (131, 0.10959932487023819),
 (311, 0.10959932487023819),
 (329, 0.10959932487023819),
 (1079, 0.10959932487023819),
 (1291, 0.10959932487023819),
 (3337, 0.10959932487023819),
 (3617, 0.10959932487023819),
 (4094, 0.10959932487023819),
 (402, 0.10887588907733556),
 (174, 0.10810810810810811),
 (265, 0.10810810810810811),
 (512, 0.10810810810810811),
 (640, 0.10810810810810811),
 (2178, 0.10810810810810811),
 (102, 0.10793322294408637),
 (1494, 0.10793322294408637),
 (2757, 0.10793322294408637),
 (1724, 0.1076244005001263),
 (3052, 0.1076244005001263),
 (3778, 0.1076244005001263),
 (3836, 0.1076244005001263),
 (232, 0.10762440050012628),
 (770, 0.10762440050012628),
 (2518, 0.10762440050012628),
 (2559, 0.10762440050012628),
 (2759, 0.10762440050012628),
 (3951, 0.10762440050012628),
 (294, 0.106676149412533),
 (534, 0.106676149412533),
 (1270, 0.106676149412533),
 (3099, 0.106676149412533),
 (4226, 0.106676149412533),
 (333, 0.10529962529853128),
 (985, 0.10529962529853128),
 (139, 0.10524566699352861),
 (105, 0.10514994558491725),
 (324, 0.10514994558491725),
 (475, 0.10514994558491725),
 (1153, 0.10514994558491725),
 (1586, 0.10514994558491725),
 (2453, 0.10514994558491725),
 (3660, 0.10514994558491725),
 (4195, 0.10514994558491725),
 (157, 0.10514994558491723),
 (4541, 0.10439346133241542),
 (182, 0.10397504898200727),
 (895, 0.10397504898200727),
 (1053, 0.10397504898200727),
 (3461, 0.10397504898200727),
 (3780, 0.10397504898200727),
 (238, 0.10356162766686666),
 (85, 0.10283867552865915),
 (262, 0.10283867552865915),
 (33, 0.10283867552865913),
 (35, 0.10283867552865913),
 (148, 0.10283867552865913),
 (712, 0.10283867552865913),
 (932, 0.10283867552865913),
 (1277, 0.10283867552865913),
 (1303, 0.10283867552865913),
 (1498, 0.10283867552865913),
 (2657, 0.10283867552865913),
 (4619, 0.10283867552865913),
 (129, 0.10269923319261937),
 (509, 0.10269923319261937),
 (1083, 0.10269923319261937),
 (1106, 0.10269923319261937),
 (2281, 0.10269923319261937),
 (3440, 0.10269923319261937),
 (306, 0.1017387650221051),
 (278, 0.10146925788636821),
 (370, 0.10146925788636821),
 (1199, 0.10146925788636821),
 (1230, 0.10146925788636821),
 (4042, 0.10146925788636821),
 (388, 0.10067340828210367),
 (399, 0.10067340828210367),
 (657, 0.10067340828210367),
 (778, 0.10067340828210367),
 (1074, 0.10067340828210367),
 (1939, 0.10067340828210367),
 (2658, 0.10067340828210367),
 (4252, 0.10067340828210367),
 (810, 0.10028244211278005),
 (867, 0.10028244211278005),
 (1436, 0.10028244211278005),
 (269, 0.09913631941932194),
 (409, 0.09913631941932194),
 (411, 0.09913631941932194),
 (472, 0.09913631941932194),
 (930, 0.09913631941932194),
 (1273, 0.09913631941932194),
 (1820, 0.09913631941932194),
 (1843, 0.09913631941932194),
 (291, 0.09863939238321438),
 (529, 0.09863939238321438),
 (563, 0.09863939238321438),
 (688, 0.09863939238321438),
 (917, 0.09863939238321438),
 (1024, 0.09863939238321438),
 (1753, 0.09863939238321438),
 (2648, 0.09863939238321438),
 (3090, 0.09863939238321438),
 (3733, 0.09863939238321438),
 (242, 0.09802861627917438),
 (2000, 0.09802861627917438),
 (782, 0.09755285137982107),
 (1086, 0.09687303228651607),
 (122, 0.09672388203287416),
 (361, 0.09672388203287416),
 (788, 0.09672388203287416),
 (1405, 0.09672388203287416),
 (1683, 0.09672388203287416),
 (2090, 0.09672388203287416),
 (1354, 0.09592022754223367),
 (43, 0.09491579957524991),
 (616, 0.09491579957524991),
 (2485, 0.09491579957524991),
 (2593, 0.09491579957524991),
 (2793, 0.09491579957524991),
 (12, 0.0949157995752499),
 (23, 0.0949157995752499),
 (235, 0.0949157995752499),
 (348, 0.0949157995752499),
 (510, 0.0949157995752499),
 (957, 0.0949157995752499),
 (1471, 0.0949157995752499),
 (2393, 0.0949157995752499),
 (2649, 0.0949157995752499),
 (1415, 0.09394227846020416),
 (1921, 0.09394227846020416),
 (160, 0.09367501681349609),
 (164, 0.09320546490018),
 (919, 0.09320546490018),
 (2837, 0.09320546490018),
 (595, 0.09299811099505542),
 (1275, 0.09299811099505542),
 (1829, 0.09299811099505542),
 (478, 0.09248165577087424),
 (796, 0.09248165577087424),
 (21, 0.09158437663089952),
 (112, 0.09158437663089952),
 (226, 0.09158437663089952),
 (241, 0.09158437663089952),
 (305, 0.09158437663089952),
 (791, 0.09158437663089952),
 (1001, 0.09158437663089952),
 (1520, 0.09158437663089952),
 (3446, 0.09158437663089952),
 (4464, 0.09158437663089952),
 (540, 0.09119215051751065),
 (2385, 0.09119215051751065),
 (2853, 0.09119215051751065),
 (3151, 0.09119215051751065),
 (4349, 0.09119215051751065),
 (4498, 0.09119215051751065),
 (4512, 0.09119215051751065),
 (490, 0.09032775043542898),
 (1493, 0.09032775043542898),
 (2445, 0.0902256659231352),
 (75, 0.09004503377814962),
 (88, 0.09004503377814962),
 (355, 0.09004503377814962),
 (783, 0.09004503377814962),
 (898, 0.09004503377814962),
 (977, 0.09004503377814962),
 (1246, 0.09004503377814962),
 (1375, 0.09004503377814962),
 (1697, 0.09004503377814962),
 (3534, 0.09004503377814962),
 (3813, 0.09004503377814962),
 (4622, 0.09004503377814962),
 (32, 0.08948747402853657),
 (170, 0.08948747402853657),
 (362, 0.08948747402853657),
 (809, 0.08948747402853657),
 (2002, 0.08948747402853657),
 (2965, 0.08948747402853657),
 (45, 0.08867021970429453),
 (107, 0.08867021970429453),
 (466, 0.08867021970429453),
 (1, 0.0885807893036239),
 (96, 0.0885807893036239),
 (98, 0.0885807893036239),
 (121, 0.0885807893036239),
 (244, 0.0885807893036239),
 (314, 0.0885807893036239),
 (772, 0.0885807893036239),
 (811, 0.0885807893036239),
 (891, 0.0885807893036239),
 (3298, 0.0885807893036239),
 (221, 0.08787495503274936),
 (229, 0.08787495503274936),
 (380, 0.08787495503274936),
 (1136, 0.08787495503274936),
 (2271, 0.08787495503274936),
 (2336, 0.08787495503274936),
 (2495, 0.08787495503274936),
 (2877, 0.08787495503274936),
 (4650, 0.08787495503274936),
 (4733, 0.08787495503274936),
 (2383, 0.0876249546540977),
 (142, 0.08718572905786445),
 (203, 0.08718572905786445),
 (546, 0.08718572905786445),
 (934, 0.08718572905786445),
 (1139, 0.08718572905786445),
 (1470, 0.08718572905786445),
 (1787, 0.08718572905786445),
 (2164, 0.08718572905786445),
 (2244, 0.08718572905786445),
 (2248, 0.08718572905786445),
 (2301, 0.08718572905786445),
 (2791, 0.08718572905786445),
 (2814, 0.08718572905786445),
 (3088, 0.08718572905786445),
 (3307, 0.08718572905786445),
 (4255, 0.08718572905786445),
 (4653, 0.08718572905786445),
 (651, 0.08710071126186844),
 (1875, 0.08710071126186844),
 (103, 0.0863465783552691),
 (193, 0.0863465783552691),
 (1279, 0.0863465783552691),
 (39, 0.08585457105482137),
 (86, 0.08585457105482137),
 (101, 0.08585457105482137),
 (256, 0.08585457105482137),
 (456, 0.08585457105482137),
 (896, 0.08585457105482137),
 (1204, 0.08585457105482137),
 (1266, 0.08585457105482137),
 (3232, 0.08585457105482137),
 (3425, 0.08585457105482137),
 (19, 0.08561170049453902),
 (500, 0.08561170049453902),
 (1825, 0.08561170049453902),
 (3438, 0.08561170049453902),
 (533, 0.08489527199560176),
 (1618, 0.08489527199560176),
 (2247, 0.08489527199560176),
 (3066, 0.08489527199560176),
 (4488, 0.08489527199560176),
 (4714, 0.08489527199560176),
 (70, 0.08458258116519013),
 (624, 0.08458258116519013),
 (632, 0.08458258116519013),
 (1110, 0.08458258116519013),
 (1158, 0.08458258116519013),
 (1398, 0.08458258116519013),
 (3025, 0.08458258116519013),
 (3137, 0.08458258116519013),
 (3420, 0.08458258116519013),
 (1402, 0.08419653359482289),
 (1923, 0.08419653359482289),
 (571, 0.08419653359482288),
 (1531, 0.08419653359482288),
 (2096, 0.08419653359482288),
 (51, 0.08351476906593233),
 (1636, 0.08351476906593233),
 (1895, 0.08351476906593233),
 (471, 0.08336550215650926),
 (743, 0.08336550215650926),
 (784, 0.08336550215650926),
 (882, 0.08336550215650926),
 (1611, 0.08336550215650926),
 (3386, 0.08336550215650926),
 (63, 0.08284930213349333),
 (153, 0.08284930213349333),
 (588, 0.08284930213349333),
 (3428, 0.08284930213349333),
 (37, 0.08219949365267865),
 (138, 0.08219949365267865),
 (205, 0.08219949365267865),
 (207, 0.08219949365267865),
 (240, 0.08219949365267865),
 (328, 0.08219949365267865),
 (773, 0.08219949365267865),
 (1286, 0.08219949365267865),
 (1652, 0.08219949365267865),
 (1661, 0.08219949365267865),
 (2200, 0.08219949365267865),
 (2250, 0.08219949365267865),
 (2641, 0.08219949365267865),
 (2709, 0.08219949365267865),
 (2786, 0.08219949365267865),
 (2798, 0.08219949365267865),
 (3524, 0.08219949365267865),
 (4058, 0.08219949365267865),
 (4162, 0.08219949365267865),
 (4427, 0.08219949365267865),
 (4469, 0.08219949365267865),
 (4564, 0.08219949365267865),
 (4637, 0.08219949365267865),
 (190, 0.08156473902861858),
 (82, 0.08108108108108109),
 (470, 0.08108108108108109),
 (502, 0.08108108108108109),
 (2680, 0.08108108108108109),
 (3352, 0.08108108108108109),
 (2760, 0.0803381317273391),
 (11, 0.08000711205939975),
 (16, 0.08000711205939975),
 (71, 0.08000711205939975),
 (222, 0.08000711205939975),
 (253, 0.08000711205939975),
 (630, 0.08000711205939975),
 (677, 0.08000711205939975),
 (984, 0.08000711205939975),
 (1287, 0.08000711205939975),
 (1557, 0.08000711205939975),
 (2817, 0.08000711205939975),
 (3467, 0.08000711205939975),
 (3907, 0.08000711205939975),
 (4052, 0.08000711205939975),
 (4447, 0.08000711205939975),
 (62, 0.07974522228289),
 (255, 0.07974522228289),
 (847, 0.07974522228289),
 (1320, 0.07974522228289),
 (2162, 0.07974522228289),
 (2323, 0.07974522228289),
 (2879, 0.07974522228289),
 (3152, 0.07974522228289),
 (3250, 0.07974522228289),
 (3829, 0.07974522228289),
 (273, 0.07946524989512185),
 (364, 0.07897471897389846),
 (734, 0.07897471897389846),
 (1364, 0.07897471897389846),
 (1762, 0.07897471897389846),
 (2018, 0.07897471897389846),
 (3203, 0.07897471897389846),
 (3698, 0.07897471897389846),
 (59, 0.07804228110385686),
 (125, 0.07802030664724673),
 (270, 0.07798128673650545),
 (662, 0.07798128673650545),
 (729, 0.07798128673650545),
 (2160, 0.07798128673650545),
 (4080, 0.07798128673650545),
 (4636, 0.07798128673650545),
 (189, 0.07749842582921286),
 (200, 0.07749842582921286),
 (312, 0.07749842582921286),
 (797, 0.07749842582921286),
 (1042, 0.07749842582921286),
 (1285, 0.07749842582921286),
 (1345, 0.07749842582921286),
 (1518, 0.07749842582921286),
 (2314, 0.07749842582921286),
 (2378, 0.07749842582921286),
 (2407, 0.07749842582921286),
 (2548, 0.07749842582921286),
 (2656, 0.07749842582921286),
 (3427, 0.07749842582921286),
 (3991, 0.07749842582921286),
 (4408, 0.07749842582921286),
 (79, 0.07702442489446452),
 (905, 0.07702442489446452),
 (2351, 0.07702442489446452),
 (2392, 0.07702442489446452),
 (2589, 0.07702442489446452),
 (2828, 0.07702442489446452),
 (2913, 0.07702442489446452),
 (3019, 0.07702442489446452),
 (4120, 0.07702442489446452),
 (228, 0.07696578428840449),
 (76, 0.07610194341477616),
 (542, 0.07610194341477616),
 (586, 0.07610194341477616),
 (590, 0.07610194341477616),
 (976, 0.07610194341477616),
 (1172, 0.07610194341477616),
 (1322, 0.07610194341477616),
 (2049, 0.07610194341477616),
 (2238, 0.07610194341477616),
 (2360, 0.07610194341477616),
 (2698, 0.07610194341477616),
 (109, 0.07543142864047142),
 (179, 0.07543142864047142),
 (266, 0.07543142864047142),
 (569, 0.07543142864047142),
 (1002, 0.07543142864047142),
 (1766, 0.07543142864047142),
 (2133, 0.07543142864047142),
 (2209, 0.07543142864047142),
 (2695, 0.07543142864047142),
 (2784, 0.07543142864047142),
 (3069, 0.07543142864047142),
 (3238, 0.07543142864047142),
 (3395, 0.07543142864047142),
 (3979, 0.07543142864047142),
 (4096, 0.07543142864047142),
 (9, 0.07521183158458504),
 (781, 0.07521183158458504),
 (1620, 0.07521183158458504),
 (1880, 0.07521183158458504),
 (3185, 0.07521183158458504),
 (3387, 0.07521183158458504),
 (55, 0.07494001345079687),
 (487, 0.074458079104994),
 (212, 0.07435223956449145),
 (261, 0.07435223956449145),
 (418, 0.07435223956449145),
 (535, 0.07435223956449145),
 (633, 0.07435223956449145),
 (749, 0.07435223956449145),
 (779, 0.07435223956449145),
 (1443, 0.07435223956449145),
 (1629, 0.07435223956449145),
 (2647, 0.07435223956449145),
 (97, 0.07352146220938079),
 (725, 0.07352146220938079),
 (824, 0.07352146220938079),
 (1165, 0.07352146220938079),
 (3904, 0.07352146220938079),
 (1259, 0.07352146220938077),
 (1289, 0.07352146220938077),
 (1734, 0.07352146220938077),
 (1767, 0.07352146220938077),
 (2111, 0.07352146220938077),
 (2158, 0.07352146220938077),
 (2530, 0.07352146220938077),
 (4003, 0.07352146220938077),
 (4399, 0.07352146220938077),
 (4439, 0.07352146220938077),
 (994, 0.07271792483455794),
 (1337, 0.07271792483455794),
 (1442, 0.07271792483455794),
 (1698, 0.07271792483455794),
 (2053, 0.07271792483455794),
 (3819, 0.07271792483455794),
 (183, 0.07261932421315971),
 (215, 0.07194017065667525),
 (671, 0.07194017065667525),
 (701, 0.07194017065667525),
 (1015, 0.07194017065667525),
 (1143, 0.07194017065667525),
 (1993, 0.07194017065667525),
 (2015, 0.07194017065667525),
 (2317, 0.07194017065667525),
 (100, 0.07174960033341753),
 (318, 0.07174960033341753),
 (335, 0.07174960033341753),
 (1463, 0.07174960033341753),
 (1771, 0.07174960033341753),
 (3371, 0.07174960033341753),
 (3668, 0.07174960033341753),
 (3973, 0.07174960033341753),

In [ ]:
similarity

array([[1.        , 0.08858079, 0.05905386, ..., 0.02423931, 0.02739983,
        0.        ],
       [0.08858079, 1.        , 0.06451613, ..., 0.02648136, 0.        ,
        0.        ],
       [0.05905386, 0.06451613, 1.        , ..., 0.02648136, 0.        ,
        0.        ],
       ...,
       [0.02423931, 0.02648136, 0.02648136, ..., 1.        , 0.07372098,
        0.04721922],
       [0.02739983, 0.        , 0.        , ..., 0.07372098, 1.        ,
        0.05337605],
       [0.        , 0.        , 0.        , ..., 0.04721922, 0.05337605,
        1.        ]])

In [ ]:
new[new['title'] == 'The Lego Movie'].index[0]

744

In [ ]:
def recommend(movie):
    index = new[new['title'] == movie].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
    
    for i in distances[1:6]:
        print(new.iloc[i[0]].title)

In [ ]:
recommend('Avatar')

Titan A.E.
Small Soldiers
Independence Day
Aliens vs Predator: Requiem
Battle: Los Angeles

In [ ]:
import pickle
pickle

In [ ]:
pickle.dump(new,open('movie_list.pkl','wb'))
pickle.dump(similarity,open('similarity.pkl','wb'))

In [ ]:
pickle.dump(new.to_dict(),open('movie_dict.pkl','wb'))